.is-input {
	touch-action: manipulation;
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 15px 15px 14px 0;
  outline: none;
  background: 0 0;
  @include lato-light;
  @include font($text-color, 21px, 1);
  border: none;
  box-shadow: none;
  transition: border .2s;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  &::-webkit-input-placeholder {
    color: #BDBDBD;
  }
  &::-moz-placeholder {
    color: #BDBDBD;
  }
  &:-ms-input-placeholder {
    color: #BDBDBD;
  }
  &:-moz-placeholder {
    color: #BDBDBD;
  }
  &::-ms-clear {
    display: none;
  }
  @media (max-width: map-get($breakpoints, 'xs')) {
    font-size: 18px;
  }
}

//mods 

.is-input--theme {
  border-bottom: 1px solid $white-color;
  color: $white-color;
  height: 51px;
}
